@font-face {
	font-family: 'pyidaungsu';
	src: url('./fonts/Pyidaungsu-2.5_Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'zawgyi';
	src: url('./fonts/ZawgyiOne2008.ttf');
	font-weight: 400;
	font-style: normal;
}

.pyidaungsu {
	font-family: 'pyidaungsu';
}

.zawgyi {
	font-family: 'zawgyi';
}

.char {
	border: 2px red solid;
	width: 2em;
	text-align: center;
}

.chartable {
	display: flex;
	flex-wrap: wrap;
	margin: 3em;
}

