@font-face {
	font-family: 'pyidaungsu';
	src: url('./fonts/Pyidaungsu-2.5_Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'zawgyi';
	src: url('./fonts/ZawgyiOne2008.ttf');
	font-weight: 400;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.pyidaungsu {
	font-family: 'pyidaungsu';
}

.zawgyi {
	font-family: 'zawgyi';
}

h1 {
	text-align: center;
}

h2 {
	color: black;
	text-align: center;
}

.char {
	width: 4em;
	text-align: center;
	margin-right: 0.6em;
	margin-top: 0.6em;
	background: #566e5c;
	color: white;
}

.chartable {
	display: flex;
	flex-wrap: wrap;
}

